<div id="dvBosangPyeonibInfoWin" class="mapInnerBox type2"> 
    <div class="mibHeader"><span class="titIcon {{#xif " kind == '보상' "}} bosang {{else}} pyeonib {{/xif}}">{{kind}}</span></div> 
    <div class="mibBody" style="height:360px;">
       	<!-- list -->
    	<div id="dvBosangPyeonibList" class="listType" style="display:none;"></div>

		<!-- table -->
		<div id="dvBosangPyeonibTable" class="tableType" style="display:none;">
			<table class="tableStyle borderStyle left">
				<tbody>
				<tr>
					<th>물건 소재지</th>
					<td><span id="bpMulgeonsojaeji">{{mulgeonsojaeji}}</span></td>
				</tr>
				<tr>
					<th>공고기관</th>
					<td><span id="bpGonggogigwan">{{gonggogigwan}}</span></td>
				</tr>
				<tr>
					<th>공고일</th>
					<td><span id="bpGonggoil">{{gonggoil}}</span></td>
				</tr>
				<tr>
					<th>사업명</th>
					<td><span id="bpSaeobname">{{saeobname}}</span></td>
				</tr>
				<tr>
					<th>공고번호</th>
					<td><span id="bpGonggobeonho">{{gonggobeonho}}</span></td>
				</tr>
				<tr>
					<th>시설종류</th>
					<td><span id="bpSiseolkind">{{siseolkind}}</span></td>
				</tr>
				<tr>
					<th>사업 시행자</th>
					<td><span id="bpSaeobsihaengja">{{saeobsihaengja}}</span></td>
				</tr>
				</tbody>
			</table>
		</div>       
    </div>
    
    <div id="dvMibfooter" class="mibfooter" data-address="" data-pnu="" data-lng="" data-lat="">
    	<button type="button" class="profit GROUP"  onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="SUJI_BOONSEOK">수지분석</button>
		<button type="button" class="gwansim GROUP" onclick="hotplace.spot.selectCategory(this, '{{kindCode}}', null, true)" data-category="GWANSIM_MULGEON">관심물건등록</button>
		<button type="button" class="tojiuse GROUP" onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="TOJI_USE_LIMT">토지기본정보</button>	
    	<button type="button" id="btnBosangPyeonibPano" class="positionView" data-name="위치보기">위치보기</button>
    	<button type="button" id="btnBosangPyeonibList" class="goList" style="displat:none;">목록으로</button>
        <button type="button" id="btnBosangPyeonibThumbClose" class="close">닫기</button>
    </div>
</div>