<div id="dvGyeongmaeInfoWin" class="mapInnerBox type2"> 
    <div class="mibHeader"><span class="titIcon gyeongmae">경매</span></div> 
    <div class="mibBody">
        <div class="tableType">
            <table class="tableStyle borderStyle left">
                <tbody>
                	 <tr>
                        <th>사건번호</th>
                        <td>{{sageonbeonho}}</td>
                    </tr>
                    <tr>
                        <th>소재지</th>
                        <td>{{sojaeji}}</td>
                    </tr>
                    <tr>
                        <th> 용도</th>
                        <td>{{yongdo}}</td>
                    </tr>
                    <tr>
                        <th>감정평가액</th>
                        <td>{{gamjeongpyeongga}}</td>
                    </tr>
                    <tr>
                        <th>유찰</th>
                        <td>{{yuchal}}</td>
                    </tr>
                    <tr>
                        <th>매각기일</th>
                        <td>{{maegaggiil}}</td>
                    </tr>
                    <tr>
                        <th>사진</th>
                        <td>
                        	<img id="gImgThumb" src="/resources/img/noImg.png" style="width:100px; height:100px"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mibfooter" data-address="{{sojaeji}}" data-pnu="{{pnu}}" data-lng="{{lng}}" data-lat="{{lat}}">
    	<ul>
    		<li><button type="button" class="profit"  onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="SUJI_BOONSEOK">수지분석</button></li>
    		<li><button type="button" class="gwansim" onclick="hotplace.spot.selectCategory(this, 'K', '{{unu}}', true)" data-category="GWANSIM_MULGEON">관심물건등록</button></li>
    		<li><button type="button" class="tojiuse" onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="TOJI_USE_LIMT">토지기본정보</button></li>
    		<li><button type="button" id="btnGyeongmaePano" class="positionView" data-name="위치보기">위치보기</button></li>
    		<li><button type="button" id="btnGyeongmaeDetail" class="link" data-name="물건상세조회">물건상세조회</button></li>
    		<li><button type="button" id="btnGyeongmaeThumbClose" class="close">닫기</button></li>
    	</ul>
    </div>
</div>