<div id="dvHeatMapCapture" class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				히트맵 이미지 캡쳐({{title}}) - ({{math year "-" 4}}년 ~ {{year}}년)
			</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div >
				<table border="1">
					<colgroup>
						<col width="50%" />
						<col width="50%" />
					</colgroup>
					<tr>
						<th>{{math year "-" 4}}년</th>
						<th>{{math year "-" 3}}년</th>
					</tr>
					<tr>
						<td id="{{math year "-" 4}}Map" class="map-capture" data-capture-year="{{math year "-" 4}}"></td>
						<td id="{{math year "-" 3}}Map" class="map-capture" data-capture-year="{{math year "-" 3}}"></td>
					</tr>
					<tr>
						<th>{{math year "-" 2}}년</th>
						<th>{{math year "-" 1}}년</th>
					</tr>
					<tr>
						<td id="{{math year "-" 2}}Map" class="map-capture" data-capture-year="{{math year "-" 2}}"></td>
						<td id="{{math year "-" 1}}Map" class="map-capture" data-capture-year="{{math year "-" 1}}"></td>
					</tr>
					<tr>
						<th>{{year}}년</th>
						<th>&nbsp;</th>
					</tr>
					<tr>
						<td id="{{year}}Map" class="map-capture" data-capture-year="{{year}}"></td>
						<td class="map-capture">&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btnstyle middle gray" data-dismiss="modal">닫기</button>
		</div>
	</div>
</div>