<div id="dvPaymentDetail" class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				결제내역 상세보기
			</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="unit">
				<div class="unit_cont bgWhite">
					<table class="tableStyle borderStyle left">
    					<colgroup>
							<col style="width:150px">
							<col style="width:*">
						</colgroup>
						<tbody>
							<tr>
								<th>결제신청일자</th>
								<td>{{applyDate}}</td>
							</tr>
							<tr>
								<th>결제금액</th>
								<td>{{paymentValue}}</td>
							</tr>
							<tr>
								<th>입금자명</th>
								<td>{{depositor}}</td>
							</tr>
							<tr>
								<th>쿠폰사용여부</th>
								<td>{{useCoupon}}</td>
							</tr>
							<tr>
								<th>쿠폰번호</th>
								<td>{{couponNum}}</td>
							</tr>
							<tr>
								<th>쿠폰내용</th>
								<td>{{couponContent}}</td>
							</tr>
							<tr>
								<th>결제내용</th>
								<td>{{applyComment}}</td>
							</tr>							
							<tr>
								<th>처리상태</th>
								<td>
								{{#xif " status == 'N' " }}
								<span style="color:#0000ff">처리중</span>
								{{else}}
								<span style="color:#ff0000">처리완료</span>
								{{/xif}}
								</td>
							</tr>
						</tbody>
    				</table>
				</div>
			</div>
		</div>
	</div>
</div>