<div id="dvSilgeolaeInfoWin" class="mapInnerBox type2"> 
    <div class="mibHeader"><span class="titIcon silgeolae">실거래</span></div> 
    <div class="mibBody">
        <div class="tableType">
            <table class="tableStyle borderStyle left">
                <tbody>
                	<tr>
						<th>지번</th>
						<td>{{jibeon}}</td>
					</tr>
                    <tr>
						<th>지목</th>
						<td>{{jimok}}</td>
					</tr>
					<tr>
						<th>용도지역</th>
						<td>{{yongdo}}</td>
					</tr>
                    <tr>
                        <th>계약면적</th>
                        <td>{{gyeyagarea}}</td>
                    </tr>
                    <tr>
						<th>계약년월</th>
						<td>{{ymString gyeyagnyeonwol}}</td>
					</tr>
					<tr>
						<th>계약일</th>
						<td>{{gyeyagil}}</td>
					</tr>
					<tr>
						<th>거래금액<br/>(단위: 만원)</th>
						<td>{{currency geolaegeumaeg}}</td>
					</tr>
					<tr>
						<th>단지명</th>
						<td>{{danji}}</td>
					</tr>
					<tr>
						<th>전용면적</th>
						<td>{{jeonyongarea}}</td>
					</tr>
					<tr>
						<th>층</th>
						<td>{{cheung}}</td>
					</tr>
					<tr>
						<th>건축년도</th>
						<td>{{buildingyear}}</td>
					</tr>
					<tr>
						<th>도로명</th>
						<td>{{doroname}}</td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mibfooter" data-address="{{jibeon}}" data-pnu="{{pnu}}" data-lng="{{lng}}" data-lat="{{lat}}">
    	<button type="button" class="profit"  onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="SUJI_BOONSEOK">수지분석</button>
		<button type="button" class="gwansim" onclick="hotplace.spot.selectCategory(this, 'S', null, true)" data-category="GWANSIM_MULGEON">관심물건등록</button>
		<button type="button" class="tojiuse" onclick="hotplace.spot.selectCategory(this, null, null, true)" data-category="TOJI_USE_LIMT">토지기본정보</button>	
    	<button type="button" id="btnSilgeolaePano" class="positionView" data-name="위치보기">위치보기</button>
        <button type="button" id="btnSilgeolaeThumbClose" class="close">닫기</button>
    </div>
</div>