 <div class="mapInnerBox addrSearchWin">
 	<div class="mibHeader">
		<span class="addrText">{{datas.address}}</span>
		<button type="button" id="btnAddrSearchWinClose" class="close"><span class="hidden">닫기</span></button>
	</div>
    	<div class="mibBody">
			<div class="munuType" data-address="{{datas.address}}" data-pnu="{{datas.pnu}}" data-lng="{{datas.lng}}" data-lat="{{datas.lat}}">
        		<span class="link"><button type="button" class="mibIcon_01" onclick="hotplace.spot.selectCategory(this)" data-category="SUJI_BOONSEOK">수지분석</button></span>
				<span class="link"><button type="button" class="mibIcon_02" onclick="hotplace.spot.selectCategory(this)" data-category="GWANSIM_MULGEON">관심물건 등록</button></span>
<!--				<span class="link"><button type="button" class="mibIcon_03" onclick="hotplace.spot.selectCategory(this)" data-category="CONSULTING">컨설팅 요청</button></span> -->
				<span class="link"><button type="button" class="mibIcon_04" onclick="hotplace.spot.selectCategory(this)" data-category="TOJI_USE_LIMT">토지기본정보 보기</button></span>
<!--				<span class="link"><button type="button" class="mibIcon_05" onclick="hotplace.spot.selectCategory(this)" data-category="MAEMUL">매물등록</button></span> -->
			</div>
        </div>
	</div>
</div>